/out/production/DEP Assignment 02/assets/clear.png
/out/production/DEP Assignment 02/src/assets/clear.png
/out/production/DEP Assignment 02/assets/copy.png
/out/production/DEP Assignment 02/src/assets/copy.png
/out/production/DEP Assignment 02/assets/cut.png
/out/production/DEP Assignment 02/src/assets/cut.png
/out/production/DEP Assignment 02/assets/down-chevron.png
/out/production/DEP Assignment 02/src/assets/down-chevron.png
/out/production/DEP Assignment 02/assets/find.png
/out/production/DEP Assignment 02/src/assets/find.png
/out/production/DEP Assignment 02/assets/new-document.png
/out/production/DEP Assignment 02/src/assets/new-document.png
/out/production/DEP Assignment 02/assets/open.png
/out/production/DEP Assignment 02/src/assets/open.png
/out/production/DEP Assignment 02/assets/paste.png
/out/production/DEP Assignment 02/src/assets/paste.png
/out/production/DEP Assignment 02/assets/print.png
/out/production/DEP Assignment 02/src/assets/print.png
/out/production/DEP Assignment 02/src/readme.md
/out/production/DEP Assignment 02/readme.md
/out/production/DEP Assignment 02/assets/replace.png
/out/production/DEP Assignment 02/src/assets/replace.png
/out/production/DEP Assignment 02/assets/save.png
/out/production/DEP Assignment 02/src/assets/save.png
/out/production/DEP Assignment 02/css/styles.css
/out/production/DEP Assignment 02/src/css/styles.css
/out/production/DEP Assignment 02/assets/up-btn.png
/out/production/DEP Assignment 02/src/assets/up-btn.png
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# AWS User-specific
.idea/**/aws.xml

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
# .idea/artifacts
# .idea/compiler.xml
# .idea/jarRepositories.xml
# .idea/modules.xml
# .idea/*.iml
# .idea/modules
# *.iml
# *.ipr

# CMake
cmake-build-*/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# SonarLint plugin
.idea/sonarlint/

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser