.btn-save{
    -fx-graphic: url(../assets/save.png);
    -fx-background-color: transparent;
}

.btn-open {
    -fx-graphic: url(../assets/open.png);
    -fx-background-color: transparent;

}

.btn-copy {
    -fx-graphic: url(../assets/copy.png);
    -fx-background-color: transparent;

}

.btn-cut {
    -fx-graphic: url(../assets/cut.png);
    -fx-background-color: transparent;
}

.btn-paste {
    -fx-graphic: url(../assets/paste.png);
    -fx-background-color: transparent;
}

.btn-new {
    -fx-graphic: url(../assets/new-document.png);
    -fx-background-color: transparent;
}

.btn-find {
    -fx-graphic: url(../assets/find.png);
    -fx-background-color: transparent;
}

.btn-replaceAll {
    -fx-graphic: url(../assets/replace.png);
    -fx-background-color: transparent;
}

.btn-up {
    -fx-graphic: url(../assets/up-btn.png);
    -fx-background-color: transparent;
    -fx-rotate: 90deg;
}
.btn-down {
    -fx-graphic: url(../assets/down-chevron.png);
    -fx-background-color: transparent;
    -fx-rotate: 270deg;
}

.btn-replace {
    -fx-graphic: url(../assets/replace.png);
    -fx-background-color: transparent;
}

.btn-clear {
    -fx-graphic: url(../assets/clear.png);
    -fx-background-color: transparent;
    -fx-pref-width: 32px;
    -fx-pref-height: 32px;
}

.btn-down {
    -fx-graphic: url(../assets/down-chevron.png);
    -fx-background-color: transparent;
}

.btn-print {
    -fx-graphic: url(../assets/print.png);
    -fx-background-color: transparent;
}